.feedback-map {
	height: 90vh;
	min-height: 600px;

	.marker-content {
		ul {
			list-style-type: none;
			margin-left: 0;
		}
		li + li {
			margin-top: 0.5rem;
		}
	}
	.field-label {
		display: block;
		font-weight: 600;
		font-size: var(--font-size--2);
		color: var(--color-neutral-400);
		margin-bottom: 0.1em;
	}
	.value {
		display: block;
		font-size: var(--font-size--1);
	}

	.gm-style-iw {
		width: 300px;

		[aria-label="Close"] {
			width: 20px !important;
			height: 20px !important;
			right: 4px !important;
			top: 4px !important;
			span {
				width: 20px !important;
				height: 20px !important;
				margin: 0 !important;
			}
		}
	}

	button.like-button {
		// TODO: Add a nice icon here
		margin-bottom: 0;
		&[disabled] {
			opacity: 1;
			--button-color-theme: var(--color-success-50);
		}
	}
}

// TODO: STYLE UP THE GOOGLE UI ELEMENTS
