.feedback-map {
	height: 90vh;
	min-height: 600px;

	.marker-content {
		ul {
			list-style-type: none;
			margin-left: 0;
		}
		li + li {
			margin-top: 0.5rem;
		}
	}
	.field-label {
		display: block;
		font-weight: 600;
		font-size: var(--font-size--2);
		color: var(--color-neutral-400);
		margin-bottom: 0.1em;
	}
	.value {
		display: block;
		font-size: var(--font-size--1);
	}

	.gm-style-iw {
		width: 300px;

		[aria-label="Close"] {
			width: 20px !important;
			height: 20px !important;
			right: 4px !important;
			top: 4px !important;
			span {
				width: 20px !important;
				height: 20px !important;
				margin: 0 !important;
			}
		}
	}

	button.like-button {
		// TODO: Add a nice icon here
		margin-bottom: 0;
		&[disabled] {
			opacity: 1;
			--button-color-theme: var(--color-success-50);
		}
	}
}

.feedback-map-wrapper {
	position: relative;
	.share-feedback-button {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		margin: 0;
	}

	.add-marker-controls {
		--crosshair-size: 3rem;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: radial-gradient(
			circle,
			rgba(0, 0, 0, 0.6) 45%,
			rgba(0, 0, 0, 0.3) 100%
		);
		.button-list {
			pointer-events: auto;
		}
		.description {
			p {
				color: white;
				font-size: var(--font-size--2);
				text-align: center;
				max-width: 500px;
			}
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: calc(50% + var(--crosshair-size));
			left: 50%;
			transform: translateX(-50%);
		}
		.button.white.ghost {
			color: var(--button-color-theme);
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	// TODO: Sort out padding and overflow on the modal, so that the focus outlines are visible

	.crosshair {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: var(--crosshair-size);
		height: var(--crosshair-size);
		border: 1px solid white;
		border-radius: 50%;
		span {
			height: 2px;
			width: calc(var(--crosshair-size) * 0.6);
			background-color: white;
			transform-origin: center;
			display: block;
			position: absolute;
		}
		.vertical {
			transform: rotate(90deg);
		}
	}
}

// TODO: STYLE UP THE GOOGLE UI ELEMENTS - make sure they dont inherit the jellypress colors. Make the zoom a little smaller

.modal.feedback-modal {
	--modal-max-width: 500px;
	padding: 0rem;
	.modal-content {
		padding: 1rem;
	}
	// TODO: Move .modal-close outside of the modal.
}

.feedback-map-filters {
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	background: var(--color-white);
	padding: 0.75rem;
}
