
    /* Global Typography */
    @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');

    /* Buttons */
    .button,
    [type=button],
    [type=reset],
    [type=submit],
    a.button,
    .button {
    font-weight: 800;border-radius: 2px;
    --button-color-theme: #eeefde;
    --button-color-text: #2c333d;
    --button-hover-color-text: #2c333d;
    }

    :root {     --color-primary-25: #fdfdfc;
    --color-primary-50: #fcfcf8;
    --color-primary-100: #fafaf5;
    --color-primary-200: #f7f7ef;
    --color-primary-300: #f3f4e8;
    --color-primary-400: #f1f1e3;
    --color-primary-500: #eeefde;
    --color-primary-600: #dcddcd;
    --color-primary-700: #cacbbb;
    --color-primary-800: #b9baaa;
    --color-primary-900: #a7a898;
    --color-primary-1000: #9b9c8d;
    --color-secondary-25: #e9f1f9;
    --color-secondary-50: #d2e3f2;
    --color-secondary-100: #bcd5ec;
    --color-secondary-200: #8fb9df;
    --color-secondary-300: #629dd2;
    --color-secondary-400: #4088c8;
    --color-secondary-500: #1e73be;
    --color-secondary-600: #1a67ad;
    --color-secondary-700: #165a9d;
    --color-secondary-800: #124e8c;
    --color-secondary-900: #0e417b;
    --color-secondary-1000: #0c3971;
    --color-neutral-25: #eaebec;
    --color-neutral-50: #d5d6d8;
    --color-neutral-100: #c0c2c5;
    --color-neutral-200: #96999e;
    --color-neutral-300: #6b7077;
    --color-neutral-400: #4c525a;
    --color-neutral-500: #2c333d;
    --color-neutral-600: #262d36;
    --color-neutral-700: #21262e;
    --color-neutral-800: #1b2027;
    --color-neutral-900: #16191f;
    --color-neutral-1000: #12151b;
    --color-success-25: #e6faee;
    --color-success-50: #ccf4dc;
    --color-success-100: #b3efcb;
    --color-success-200: #80e4a8;
    --color-success-300: #4dd985;
    --color-success-400: #26d06b;
    --color-success-500: #00c851;
    --color-success-600: #00b747;
    --color-success-700: #00a63e;
    --color-success-800: #009534;
    --color-success-900: #00842b;
    --color-success-1000: #007925;
    --color-warning-25: #fff8eb;
    --color-warning-50: #fff1d6;
    --color-warning-100: #ffebc2;
    --color-warning-200: #ffdd99;
    --color-warning-300: #ffcf70;
    --color-warning-400: #ffc552;
    --color-warning-500: #ffbb33;
    --color-warning-600: #edaa2d;
    --color-warning-700: #db9a26;
    --color-warning-800: #ca8920;
    --color-warning-900: #b87919;
    --color-warning-1000: #ac6e15;
    --color-error-25: #ffecec;
    --color-error-50: #ffdada;
    --color-error-100: #ffc7c7;
    --color-error-200: #ffa2a2;
    --color-error-300: #ff7c7c;
    --color-error-400: #ff6060;
    --color-error-500: #ff4444;
    --color-error-600: #ed3c3c;
    --color-error-700: #db3333;
    --color-error-800: #ca2b2b;
    --color-error-900: #b82323;
    --color-error-1000: #ac1e1e;
}


    /* Navbar */

    .navbar-menu li a:hover::after {
      background-color: #ffffff !important;
    }

    .main-navigation .navbar-menu li a,
    .main-navigation .navbar-menu li a:hover {
      color: #ffffff;
    }

    .main-navigation.bg-primary-500 {
      background-color: #eeefde;
      background: #eeefde;
      z-index: 99;
      position: fixed;
    }

    .main-navigation.bg-primary-500 .navbar-menu li a:hover::after {
      background-color: #2c333d;
    }


    .main-navigation.bg-primary-500 .navbar-menu li a,
    .main-navigation.bg-primary-500 .navbar-menu li a:hover {

      color: #2c333d;

    }

    /* Hero */
    /* Default Overlay */
    .hero.default h1,
    .hero.default h2,
    .hero.default h3,
    .hero.default h4,
    .hero.default h5,
    .hero.default h6,
    .hero.default p {
      color: #2c333d !important;
    }


    /* Paddings */
    @media (min-width: 37.5em) {

      header.block,
      section.block {
        padding-bottom: calc(2.5rem - min(max(5px, 0px), 20px));
        padding-top: calc(4rem - min(max(5px, 0px), 20px));
      }
    }

    @media (min-width: 56.25em) {

      header.block,
      section.block {
        padding-bottom: calc(4.5rem - min(max(44px, 0px), 50px));
        padding-top: calc(6rem - min(max(44px, 0px), 50px));
      }
    }

    /* Custom CSS from theme designer */
    .custom-css{
color: red;
}

    :root {
      --font-primary: "Kode Mono", monospace;
      --font-secondary: "Roboto", sans-serif;

      --color-headings-preferred: #0003e5;
      --color-section-headings: #0003e5;
    }

    /* Set colour contrast for background colours */ 
.block.bg-primary-500  {
    color: #2c333d;
    --color-section-text: #2c333d;
    --color-headings-preferred: #2c333d;
}
.block.bg-primary-500 h1,
.block.bg-primary-500 h2,
.block.bg-primary-500 h3,
.block.bg-primary-500 h4,
.block.bg-primary-500 h5,
.block.bg-primary-500 h6,
.block.bg-primary-500 a:not(.button),
.block.bg-primary-500 a:not(.button):hover,
.block.bg-primary-500 a:not(.button):focus,
.block.bg-primary-500 a:not(.button):visited,
.block.bg-primary-500 a:not(.button):link,
.block.bg-primary-500 a:not(.button) {
    color: #2c333d;
    --color-section-text: #2c333d;
    --color-headings-preferred: #2c333d;
    --button-color-text: #2c333d;
    border-color: #2c333d;
}
.block.bg-secondary-500  {
    color: #ffffff;
    --color-section-text: #ffffff;
    --color-headings-preferred: #ffffff;
}
.block.bg-secondary-500 h1,
.block.bg-secondary-500 h2,
.block.bg-secondary-500 h3,
.block.bg-secondary-500 h4,
.block.bg-secondary-500 h5,
.block.bg-secondary-500 h6,
.block.bg-secondary-500 a:not(.button),
.block.bg-secondary-500 a:not(.button):hover,
.block.bg-secondary-500 a:not(.button):focus,
.block.bg-secondary-500 a:not(.button):visited,
.block.bg-secondary-500 a:not(.button):link,
.block.bg-secondary-500 a:not(.button) {
    color: #ffffff;
    --color-section-text: #ffffff;
    --color-headings-preferred: #ffffff;
    --button-color-text: #ffffff;
    border-color: #ffffff;
}
.block.bg-primary-100  {
    color: #2c333d;
    --color-section-text: #2c333d;
    --color-headings-preferred: #2c333d;
}
.block.bg-primary-100 h1,
.block.bg-primary-100 h2,
.block.bg-primary-100 h3,
.block.bg-primary-100 h4,
.block.bg-primary-100 h5,
.block.bg-primary-100 h6,
.block.bg-primary-100 a:not(.button),
.block.bg-primary-100 a:not(.button):hover,
.block.bg-primary-100 a:not(.button):focus,
.block.bg-primary-100 a:not(.button):visited,
.block.bg-primary-100 a:not(.button):link,
.block.bg-primary-100 a:not(.button) {
    color: #2c333d;
    --color-section-text: #2c333d;
    --color-headings-preferred: #2c333d;
    --button-color-text: #2c333d;
    border-color: #2c333d;
}
.block.bg-secondary-100  {
    color: #2c333d;
    --color-section-text: #2c333d;
    --color-headings-preferred: #2c333d;
}
.block.bg-secondary-100 h1,
.block.bg-secondary-100 h2,
.block.bg-secondary-100 h3,
.block.bg-secondary-100 h4,
.block.bg-secondary-100 h5,
.block.bg-secondary-100 h6,
.block.bg-secondary-100 a:not(.button),
.block.bg-secondary-100 a:not(.button):hover,
.block.bg-secondary-100 a:not(.button):focus,
.block.bg-secondary-100 a:not(.button):visited,
.block.bg-secondary-100 a:not(.button):link,
.block.bg-secondary-100 a:not(.button) {
    color: #2c333d;
    --color-section-text: #2c333d;
    --color-headings-preferred: #2c333d;
    --button-color-text: #2c333d;
    border-color: #2c333d;
}

    h1 {
        font-weight: 900;
        font-family: var(--font-secondary);
    }
    
    h2 {
        font-weight: 200;
        font-family: var(--font-secondary);
    }
    
    h3 {
        font-weight: 500;
        font-family: var(--font-primary);
    }
    
    h4 {
        font-weight: 500;
        font-family: var(--font-primary);
    }
    