.time-image {
	width: 160px;
}

.mb-sm {
	margin-bottom: 0.75rem !important;
}

$element-padding: 1.5rem;
$element-margin: 1.5rem;

$timeline-line-width: 6px;
.timeline {
	--marker-size: 1.2rem;
	--marker-offset: 2rem;

	--timeline-color-theme: var(--color-primary-500);

	position: relative;
	margin-bottom: $element-margin;
	@media (min-width: 56.25em) {
		margin-top: $element-margin;
	}
	&::after {
		content: "";
		position: absolute;
		width: $timeline-line-width;
		background-color: var(--timeline-color-theme);
		top: 0;
		bottom: 0;
		left: calc((var(--marker-size) * 0.5) - ($timeline-line-width / 2));
	}
}

.time-container {
	width: 100%;
	padding-left: calc(var(--marker-size) + var(--marker-offset));
	padding-right: 0;
	padding-bottom: $element-margin;
}

.time-container h3 {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		display: block;
		top: 0.2em;
		background-color: var(--timeline-color-theme);
		width: var(--marker-size);
		height: var(--marker-size);
		left: calc((var(--marker-size) * -1) - var(--marker-offset));
	}
	&::after {
		content: "";
		position: absolute;
		display: block;
		top: calc(var(--marker-size) * 0.5 - ($timeline-line-width / 2) + 0.2em);
		background-color: var(--timeline-color-theme);
		width: calc(var(--marker-offset) * 0.75);
		height: $timeline-line-width;
		left: calc(var(--marker-offset) * -1);
	}
}

@media (min-width: 56.25em) {
	.timeline {
		--marker-offset: 3rem;
		&::after {
			left: calc(50% - ($timeline-line-width / 2));
		}
	}
	.time-container {
		width: 50%;
		&.left {
			text-align: right;
			padding-right: calc(var(--marker-size) + var(--marker-offset));
			padding-left: 0;
			h3 {
				&::before {
					left: auto;
					right: calc((var(--marker-size) * -1) - var(--marker-offset));
				}
				&::after {
					left: auto;
					right: calc(var(--marker-offset) * -1);
				}
			}
		}
		&.right {
			margin-left: 50%;
		}
	}
}
@media (min-width: 75em) {
	.timeline {
		--marker-offset: 4rem;
	}
}
