/* Add your styles here, and they will be compiled down into the styles.css file. */
body {
	--hero-padding: 0rem;
}
.hero {
	padding-top: calc(var(--block-padding) + var(--hero-padding)) !important;
}
.hero-figure {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	img,
	video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;
		object-position: center;
		height: 100%;
		width: 100%;
	}
	&.is-desaturated {
		img,
		video {
			filter: grayscale(100%);
		}
	}
}

img.is-parallax {
	@media (min-width: 48em) {
		position: fixed;
	}
}

.has-overlay {
	// TODO: SET CONTRAST COLOR FOR EACH VARIATION OF OVERLAY
	color: var(--color-section-text);
	& :is(h1, h2, h3, h4, h5, h6) {
		color: var(--color-section-headings);
	}
}

.hero {
	> .container {
		position: relative;
		z-index: 2;
	}
}
