/* Add your styles here, and they will be compiled down into the styles.css file. */
.hero {
	min-height: 50vh;
	padding-top: 148.922px !important;
	//Default Overlay
	&.default {
		.hero-image {
			&:before {
				background: -webkit-gradient(
					linear,
					left top,
					right top,
					from(var(--color-primary-500)),
					color-stop(70%, var(--color-secondary-500)),
					to(var(--color-secondary-300))
				);
				background: linear-gradient(
					to right,
					var(--color-primary-500) 0,
					var(--color-secondary-500) 70%,
					var(--color-secondary-300) 100%
				);
				content: "";
				display: block;
				height: 100%;
				opacity: 0.7;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}
			&:after {
				background: linear-gradient(
					60deg,
					rgba(0, 0, 0, 0.6),
					rgba(0, 0, 0, 0) 60%
				);
				content: "";
				display: block;
				height: 100%;
				mix-blend-mode: multiply;
				//opacity: 0.8;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}
		}
	}
	//Black Overlay
	&.bg-overlay-black {
		.hero-image {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 2;
			}
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: var(--color-white) !important;
		}
	}
	//Black Overlay
	&.bg-overlay-white {
		.hero-image {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.5);
				z-index: 2;
			}
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: var(--color-text) !important;
		}
	}

	.hero-image {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		img {
			height: 100%;
			filter: grayscale(100%);
			object-fit: cover;

			object-position: center;
			width: 100%;
		}
	}

	& + section {
		z-index: 5;
	}
}
.hero > .container {
	position: relative;
	z-index: 2;
}
@supports (aspect-ratio: 6/4) {
	.hero:before {
		aspect-ratio: 6 / 4;
	}
}

// Video header
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  HERO VIDEO
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.video-header {
	position: relative;
	background-color: var(--color-black);
	height: 100%;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
	.video-title {
		position: relative;
		z-index: 2;
		text-align: center;
	}
	video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		height: auto;
		z-index: 0;
		transform: translateX(-50%) translateY(-50%);
		width: auto;
	}
	&:after {
		background: linear-gradient(
			60deg,
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0) 60%
		);
		content: "";
		display: block;
		height: 100%;
		mix-blend-mode: multiply;
		//opacity: 0.8;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}
