a.acf-icon {
	user-select: unset !important;
	pointer-events: unset !important;
}

// TODO: Some of this could go into the parent theme
.wp-block-ezpz-column .wp-block-image {
	img {
		display: block;
		margin-bottom: 0;
	}
	margin-bottom: 1.5rem;
	+ * {
		margin-top: 2rem;
	}

	// Center if the next inner block is centered
	&:has(+ .has-text-align-center) {
		img {
			margin-left: auto;
			margin-right: auto;
		}
		.wp-element-caption {
			text-align: center;
		}
	}

	&:has(+ .has-text-align-right) {
		img {
			margin-left: auto;
			margin-right: 0;
		}
		.wp-element-caption {
			text-align: right;
		}
	}
}

li.has-image-marker {
	list-style-type: none;
	position: relative;
	min-height: 2.5em;
	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 1.75em;
		height: 1.75em;
		left: -2.5em;
		background-image: var(--marker-image);
	}
	& + li {
		margin-top: 1em;
	}
}

/************
 * NAVBAR
 *************/

.navbar {
	background: var(--navbar-bg-color, var(--color-primary-500));
	color: var(--navbar-color, var(--color-white));
	transition: background 0.2s ease;
}

.navbar-item,
.navbar-item a,
.navbar-item a:visited {
	color: var(--navbar-color, var(--color-white));
}

.navbar-menu li a {
	background-color: transparent;
	color: var(--navbar-color, var(--color-white));
	font-family: var(--navbar-font-family, var(--font-primary));
	font-weight: var(--navbar-font-weight, 700);
	&:focus,
	&:hover {
		background-color: var(--navbar-bg-color-hover, var(--color-primary-700));
		color: var(--navbar-color-hover, var(--color-white));
		font-weight: var(--navbar-font-weight, 700);
	}
}

button.hamburger {
	background-color: var(--navbar-bg-color, var(--color-primary-500));
	border-color: var(--navbar-bg-color, var(--color-primary-500));
	color: var(--navbar-color, var(--color-white));

	&:focus,
	&:hover {
		background-color: var(--navbar-bg-color-hover, var(--color-primary-700));
		border-color: var(--navbar-bg-color-hover, var(--color-primary-700));
		color: var(--navbar-color-hover, var(--color-white));
		.hamburger-inner,
		.hamburger-inner::after,
		.hamburger-inner::before {
			background-color: var(--navbar-color-hover, var(--color-white));
		}
	}
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	background-color: var(--navbar-color, var(--color-white));
}

.site-logo {
	padding: 1.25rem 0;
	@media (max-width: 74.9375em) {
		padding-left: 0.75rem;
		img {
			width: 60%;
		}
	}
	img {
		width: auto;
		max-width: 160px;
	}
}

#masthead {
	position: fixed;
	width: 100%;
	z-index: 100;
}

@media (min-width: 75em) {
	body.has-transparent-navbar {
		--navbar-bg-color: transparent;
		--navbar-color: var(--color-white);
	}
}
@media (max-width: 74.9375em) {
	.navbar-menu.is-off-canvas {
		background-color: var(--navbar-bg-color, var(--color-primary-500));
	}
}
